swagger: '2.0'
info:
  description: >-
    <h5>API ของการเรียน Text Analytics ปัจจุบันมี 2 แบบ </h5> <ul>
        <li>Full API : ผลจากการเรียก API จะออกครบทุก module ของ Text Analytics Engine</li>
        <li>Short API : ผลจากการเรียก API จะออกแค่ Text, Sentiment และ Category</li>
    </ul>     <h5>API Specification</h5> <p>This section describes API
    Specification for Feedback180 Thai Text Analytics Engine API.</p> <ul>
        <li>
            Each API Request consists of 2 parameters
            <ul>
                <li>Verbatims Each request contains at least 1 verbatim. Each verbatim consists of verbatimID and verbatim itself.</li>
                <li>Model Model is a unique string that serves as authentication key for customer model and will be used to identify Thai Text Analytics Engine model used to analyze the verbatim.</li>
            </ul>
        </li>
        <li>
            Each API Response consists of 
            <ul>
                <li>verbatimID – to correspond with requested VerbatimID. The VerbatimID is not limited to data Integer, but can also contain characters.</li>
                <li>Spell – a result of spelling correction model.</li>
                <li>Termnorm – a result of term normalization model.</li>
                <li>
                    SentenceSeg – a result of sentence segmentation model. The SentenceSeg consists of a list of sentences including the following properties:
                    <ul>
                        <li>SentenceID – an index of sentences corresponding to the result of sentence segmentation model.</li>
                        <li>Sentence – a sentence corresponding to the SentenceID.</li>
                        <li>Sentiment – code as result of sentiment analysis model.</li>
                        <li>CategoryCode – Code of category.</li>
                        <li>CategoryDescription – description of category, a concatenation of main category and sub attributes using comma as separater.</li>
                        <li>IE – a result of information extraction model.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
  version: 1.0.0
  title: Kalanth API
host: '206.189.81.71:8101'
tags:
  - name: Kalanth api ktb
    description: kalanth api ktb
schemes:
  - http
paths:
  /kalanth_api_ktb:
    post:
      tags:
        - Kalanth api ktb
      summary: Post to kalanth api ktb
      description: ''
      operationId: addPet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Post to kalanth api ktb
          required: true
          schema:
            $ref: '#/definitions/kalanth_api_ktb_req'
      responses:
        
        '400':
          description: Invalid ID supplied
        '404':
          description: Data not found
        '405':
          description: Validation exception
  /kalanth_api:
    post:
      tags:
        - Kalanth api
      summary: Finds Pets by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findPetsByStatus
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Post to kalanth api ktb
          required: true
          schema:
            $ref: '#/definitions/kalanth_api_req'
      responses:
        '400':
          description: Invalid status value
      
definitions:
  kalanth_api_ktb_req:
    title: kalanth_api_ktb_req
    description: Object for get kalanth api ktb
    type: object
    properties:
      verbatims:
        type: array
        items:
          type: object
          properties:
            verbatimID:
              type: string
            verbatim:
              type: string
              
  kalanth_api_req:
    title: kalanth_api_req
    description: Object for get kalanth api ktb
    type: object
    properties:
      Text:
        type: string
  
  kalanth_api_ktb_res:
    title: kalanth_api_ktb_res
    description: Object respone from kalanth api_ktb
    type: object
    properties:
      ModelID:
        type: string
      analyses:
        type: array
        items:
          type: object
          properties:
            Spell:
              type: string
            verbatimID:
              type: string
            Sentiment:
              type: string
            SentenceSeg:
              type: array
              items:
                type: object
                properties:
                  InformationExtraction:
                    type: array
                    items:
                      type: object
                      properties:
                        Org:
                          type: string
                        Loc:
                          type: string
                        Per:
                          type: string
                  SentimentDescription:
                    type: string
                  SentenceID:
                    type: integer
                  Sentence:
                    type: string
                  CategoryDescription:
                    type: string
            Termnorm:
              type: string
            Category:
              type: string
      engine_url:
        type: string

  kalanth_api_res:
    title: kalanth_api_res
